name: Test

on:
  pull_request:
    branches:
      - main
      - dev

env:
  NODE_VERSION: "14.2.0"

jobs:
  worker:
    runs-on: ubuntu-latest
    name: Build worker
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.3.1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: script/bootstrap

      - name: Build
        run: script/worker_build

  site:
    runs-on: ubuntu-latest
    name: Build site
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.3.1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: script/bootstrap

      - name: Build
        run: script/build

  test-worker:
    runs-on: ubuntu-latest
    name: Test worker
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.3.1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: script/bootstrap

      - name: Build
        run: script/worker_test
