name: Worker

on:
  push:
    branches:
      - main
      - dev

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish
    steps:
      - uses: actions/checkout@v4.1.1

      - uses: actions/setup-node@v4.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Set wrangler version
        id: wrangler
        run: echo "version=$(jq -r .devDependencies.wrangler package.json | cut -c2-)" >> "$GITHUB_OUTPUT"

      - name: Install packages
        run: script/bootstrap

      - name: Set environment
        id: environment
        run: |
          branch=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          environment="dev"

          if [[ "${branch}" == "main" ]]; then
            environment="production"
          fi
          echo "environment=${environment}" >> "$GITHUB_OUTPUT"

      - name: Publish ${{ steps.environment.outputs.environment }} worker
        uses: cloudflare/wrangler-action@v3.4.0
        with:
          apiToken: ${{ secrets.CF_WORKER_API_TOKEN }}
          workingDirectory: "worker"
          packageManager: yarn
          wranglerVersion: ${{ steps.wrangler.outputs.version }}
          command: deploy --env=${{ steps.environment.outputs.environment }}
