name: Worker

on:
  push:
    branches:
      - main
      - staging

env:
  WRANGLER_VERSION: "1.15.0"
  NODE_VERSION: "14.2.0"

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Set environment
        id: environment
        run: |
          branch=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          environment="staging"

          if [[ "${branch}" == "main" ]]; then
            environment="production"
          fi
          echo "::set-ouput name=environment::${environment}"

      - name: Publish ${{ steps.environment.outputs.environment }} worker
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_WORKER_API_TOKEN }}
          workingDirectory: "worker"
          environment: ${{ steps.environment.outputs.environment }}
          wranglerVersion: ${{ env.WRANGLER_VERSION }}
